<p id="notice"><%= notice %></p>

<% @jogos.each do |jogo| %>
    <div>
        <p> Jogo: <%= jogo.id %></p>
        <p><%= jogo.one %></p>
        <p><%= jogo.two %></p>  
        <p><%= jogo.three %></p>
        <p><%= jogo.four %></p>
        <p><%= jogo.five %></p>
        <p><%= jogo.six %></p>
        <br/>
    </div>
<% end %>


<%= link_to 'Back', jogos_path %>
