<p id="notice"><%= notice %></p>

<p><%= @jogo.id %></p>
<p><%= @jogo.one %></p>
<p><%= @jogo.two %></p>
<p><%= @jogo.three %></p>
<p><%= @jogo.four %></p>
<p><%= @jogo.five %></p>
<p><%= @jogo.six %></p>

<%= link_to 'Edit', edit_jogo_path(@jogo) %> |
<%= link_to 'Back', jogos_path %>
